
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "node_modules/bootswatch/flatly/variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootswatch/flatly/bootswatch";

.coffee {
  img {
    margin: 0 auto;
  }

  h3 {
    text-align: center;
  }
}
